.menu__icon {
  margin: 0;
  padding: 0;
  height: 35px;
  width: 35px;
  cursor: pointer;
  box-sizing: border-box;
  background: url('../../../images/menu_icon.svg') center no-repeat;
}

.menu__icon:hover {
  opacity: .5;
}
