.content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  min-height: calc(100vh - 80px);
  margin: 0 auto;
  padding: 20px;

  background: rgba(223, 224, 169, 0.979);
}

@media screen and (min-width: 768px) {
  .content {
    width: 90%;
    padding: 0;
    min-height: calc(100vh - 160px);
  }
}
