.menu__list {
  display: flex;
  flex-direction: column;
  float: right;
  position: absolute;
  visibility: hidden;
  left: auto;
  right: 0;
  margin: 35px 0 0;
  padding: 0;

  transition: .3s;
  z-index: 1;

  list-style-type: none;
  color: #000;
}

.menu__list-open {
  max-width: 50vw;
  visibility: visible;
}


@media screen and (min-width: 768px) {
  .menu__list {
    margin: 0;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    visibility: visible;
  }
}
