.menu__link {
  display: block;
  cursor: pointer;
  margin: 0;
  padding: 5px 10px;

  font-family: 'Inter', 'Roboto', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 3vh;

  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  z-index: 1;
}

.menu__link:hover {
  background-color: #DDD;
}


@media screen and (min-width: 768px) {
  .menu__link {
    text-align: center;
  }

}

@media screen and (min-width: 1024px) {
  .menu__link {
    margin-left: 30px;
  }

}
