.menu__link {
  display: block;

  font-family: 'Inter', 'Roboto', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  text-decoration: none;
  color: #FFF;
  z-index: 1;
}

.menu__link:hover {
  background-color: #DDD;
}


@media screen and (min-width: 768px) {
  .menu__link {
    display: inline-block;
    margin-left: 60px;
    padding: 5px 10px;

    font-size: 24px;
    line-height: 32px;

    color: #000;
  }

}
