.menu__link {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #222;

  font-family: 'Inter', 'Roboto', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 3vh;
  line-height: 16px;

  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  z-index: 1;
}

.menu__link:hover {
  background-color: #DDD;
}


@media screen and (min-width: 768px) {
  .menu__link {
    display: inline-block;
    margin-left: 60px;
    padding: 5px 10px;

    font-size: 6vh;
    line-height: 32px;

    text-align: center;
  }

}
