.place-icon {
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 0;

  background: url('../../images/map-marker_blue.svg') center no-repeat;
  border: none;
  box-sizing: border-box;
  float: left;
}

@media screen and (min-width: 768px) {
  .place-icon {
    width: 28px;
    height: 28px;
  }
}
