@import url('./__description/project__description.css');
@import url('./__name/project__name.css');
@import url('./__photo/project__photo.css');


.project {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  min-height: 200px;
}

@media screen and (min-width: 768px) {
  .project {
    display: flex;
    flex-direction: column;
  }
}
