.section__year {
  margin: 10px 0 0;
  padding: 0;

  font-family: 'Inter', 'Roboto', 'Arial', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
}

@media screen and (min-width: 768px) {
  .section__year {
    margin: 20px 0 0;
    font-size: 18px;
    line-height: 22px;
  }
}
