.profile__details {
  display: flex;
  flex-direction: column;
  margin: 0 0 25px;
  padding: 0;
}


@media screen and (min-width: 768px) {
  .profile__details {
    flex-direction: row;
    justify-content: space-between;

    width: 70%;
    margin: 0 auto 90px;
  }
}
