.footer__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;

  margin: 0;
  padding: 0;
}

@media screen and (min-width: 425px) {
  .footer__list {
    flex-direction: row;
  }
}

@media screen and (min-width: 768px)  {
  .footer__list {
    margin: 30px 0;
  }
}
