.project__photo {
  height: 200px;
  width: 100%;
  margin: 0;
  padding: 0;
  object-fit: contain;
  box-sizing: border-box;
}

/*.project__photo:first-child {
  height: 279px;
  width: 279px;
  object-fit: cover;
}
*/
