@import url('./__author/footer__author.css');
@import url('./__column-links/footer__column-links.css');
@import url('./__column/_content/footer__column_content_copyright.css');
@import url('./__column/footer__column.css');
@import url('./__columns/footer__columns.css');
@import url('./__link/footer__link.css');
@import url('./__list/footer__list.css');

.footer {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 30px 20px 0;

  background: #b3aea8;
}

/*
.footer {
  height: 95px;
	display: flex;
  justify-content: center;
  max-width: 1330px;
	min-width: 1280px;
}

.footer__logo {
  width: 145px;
  height: 25px;
  background-image: url(https://code.s3.yandex.net/web-code/logo-black-eng.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
}

*/
