.footer__column-links {
  font-family: 'Verdana', 'Geneva', 'Tahoma', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.footer__column-links:last-of-type {
  margin-bottom: 16px;
}
