.project__description {
  max-width: 90%;
  margin: 0 auto;
  padding: 0;
  background: #FFF;

  font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;

  text-align: justify;
}
