@import url('./__icon/menu__icon.css');
@import url('./__link/menu__link.css');
@import url('./__list/menu__list.css');


.menu {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
}


@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    justify-content: space-between;
    min-width: 50%;
  }

}
